<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.bapsi.upload.controller.UploadController">


	<insert id = "uploadProfile" parameterType = "MemberVO">
   		insert into user_photo(no, file_oriname, file_fakename)
   		values(#{no}, #{file_oriname}, #{file_fakename})
   </insert>
 
 	<delete id = "deleteProfile" parameterType = "int">
 		delete user_photo
 		where no = #{no}
 	</delete>

	<select id = "profile" parameterType = "int" resultType = "UploadVO">
		select file_fakename
		from user_photo
		where no = #{no}
	</select>
 	
  </mapper>